/* Styles the elements in the header sections - including the titles/subtitles */
.header_section { text-align:center; }
.header { font-size:400%; }
.subheader { font-size:220%; }
.inline_header { display:inline-block; }

.readable { font-size:250%; }

/* Controls the navigation bar visibility for mobile devices */
p.menu_header { border-bottom:2px solid white; border-top:2px solid white; padding-top:2%; padding-bottom:2%;
				margin-top:5%; }

#navbar_responsive { display:none; position:fixed; top:0px; left:0px;height:100%; width:100%; opacity:1.0; z-index:100; 
						background-color: black; color:white; }

.nav_toggle { font-size:400%; position:fixed; top:2%; left:5%; }
#navbar_close { color:red;}

/* List the days in horizontal order */
#days_menu_list { width:80%; display:block; margin:auto;}
#days_menu_list li { display:block; margin:auto; font-size:300%; margin-bottom:5%; margin-top:10%;}
#days_menu_list li:hover { cursor:pointer; background-color:lightgray; }
.selected_day { background-color:white; color:black; }


/* Used to show a divider between the title and the video */
.divider { border:none; height:1px; background-color: black;  }
.divider_white { border:none; height:1px; background-color: black;  }

/* Controls the dimensions of the video frame */
#video_details_table { width:100%; text-align:left; }

#video_display_container {text-align:center;}
.video_nav { position:absolute; color:blue; }
.video_nav:hover { cursor:pointer; }
.video_nav_left { left:5%; }
.video_nav_right { right:5%; }
.video_display { margin:auto; width:100%; height:100%;}

.container { width:100%; height:500px; position:relative;  }


/* Styling for the desriptive section (i.e. the backstory) */
#more_details { cursor:pointer; font-style:italic; }
#backstory { display:none; margin:auto; width:90%;}
#backstory_details { font-size:250%; }

#back_to_videos { font-size:250%; }


/*Medium devices (tablets, 768px and up)*/
@media screen and (min-width:768px;){
	.container {margin:auto; width:75%; height:550px;}
}

@media screen and (min-width:1024px){

	/*.header { font-size:36px; }*/
	.h1 { font-size:36px; }
	.h2 { font-size:30px; }
	.subheader { font-size:initial; }
	.inline_header { font-size:18px; }

	.readable { font-size:initial; }


	.nav_toggle { display:none; }
	.menu_header { display:none; }

	#navbar_responsive { display:block; position:static; width:100%; padding:0%; padding-top:1%; opacity:inherit; background-color: initial; color:black; }
	#days_menu_list li { display:inline-block; width:10%; font-size:100%; margin:auto; }
	.selected_day { background-color:lightgray; color:black; }

	/*#video_display_container {margin:auto; text-align:center; width:55%; height:550px;}*/
	#video_details_table { width:50%; margin:auto; text-align:left; }

	.container {margin:auto; width:75%; height:550px;}
	#backstory { width:55%;}
	#backstory_details { font-size:110%; }

	#back_to_videos {font-size:initial; }



}
@media screen and (min-width:1500px){
	.container {margin:auto; width:55%; height:550px;}

}

