<?xml version="1.0" encoding="UTF-8"?>
<roadtrip>
	<title>Motherfu**ing Road Trip!</title>
	<subtitle>
		<span style="margin-right:1%;color:blue;">3 friends!</span>
		<span style="margin-right:1%;">~</span>
		<span style="margin-right:1%;color:red;">9 days!</span>
		<span style="margin-right:1%;">~</span>
		<span style="color:green;">6000+ miles!</span>
	</subtitle>
	<videos>
		<preview>
			<url>https://drive.google.com/file/d/1e-r5izU3NWqrOcy2NNNJEckjTR6qfswi/preview</url>
			<width>640</width>
			<height>480</height>
			<editor>Patrick McMann</editor>
		</preview>
		<days>
			<day>
				<number>Day 1</number>				
				<url></url>
				<editor>Patrick McMann</editor>
			</day>
			<day>
				<number>Day 2</number>
				<url></url>
				<editor>Patrick McMann</editor>
			</day>
			<day>
				<number>Day 3</number>
				<url></url>
				<editor>Patrick McMann</editor>
			</day>
			<day>
				<number>Days 4-6</number>
				<url></url>
				<editor>Derrick Fyfield</editor>
			</day>
			<day>
				<number>Day 7</number>
				<url></url>
				<editor>Mavet Rosas</editor>
			</day>
			<day>
				<number>Day 8</number>
				<url></url>
				<editor>Mavet Rosas</editor>
			</day>
			<day>
				<number>Day 9</number>
				<url></url>
				<editor>Mavet Rosas</editor>
			</day>
		</days>
	</videos>
</roadtrip>
