<?xml version="1.0" encoding="UTF-8"?>
<roadtrip>
	<title>Motherfu**ing Road Trip!</title>
	<subtitle>
		<span style="margin-right:1%;color:blue;">3 friends!</span>
		<span style="margin-right:1%;">~</span>
		<span style="margin-right:1%;color:red;">9 days!</span>
		<span style="margin-right:1%;">~</span>
		<span style="color:green;">6000+ miles!</span>
	</subtitle>
	<videos>
		<preview>
			<url>https://drive.google.com/file/d/1e-r5izU3NWqrOcy2NNNJEckjTR6qfswi/preview</url>
			<width>640</width>
			<height>480</height>
			<editor>Patrick McMann</editor>
		</preview>
		<days>
			<day>
				<number>Day 1</number>				
				<url></url>
				<editor>Patrick McMann</editor>
			</day>
			<day>
				<number>Day 2</number>
				<url></url>
				<editor>Patrick McMann</editor>
			</day>
			<day>
				<number>Day 3</number>
				<url></url>
				<editor>Patrick McMann</editor>
			</day>
			<day>
				<number>Days 4-6</number>
				<url></url>
				<editor>Derrick Fyfield</editor>
			</day>
			<day>
				<number>Day 7</number>
				<url></url>
				<editor>Mavet Rosas</editor>
			</day>
			<day>
				<number>Day 8</number>
				<url></url>
				<editor>Mavet Rosas</editor>
			</day>
			<day>
				<number>Day 9</number>
				<url></url>
				<editor>Mavet Rosas</editor>
			</day>
		</days>
	</videos>
	<backstory>
		<h1> What!? </h1>
		<ul style="list-style-type:none;">
			<li><p><span style="color:blue;">3 friends</span> = Mavet Rosas, Patrick McMann, and Derrick Fyfield</p></li>
			<li><p><span style="color:red;">9 days</span> = July 7th - July 16th</p></li>
			<li><p><span style="color:green;">6000+ miles</span> = Maryland to California ... and back! Including stops in:</p></li>
			<li><ul><li>Chicago, The Badlands, Yellowstone!, San Francisco, New Orleans, and Tennessee</li></ul></li>
		</ul>
		<h1> Why!? </h1>
		<p>
			In May, 2017 Pat and Derrick were talking about Tequila! Why, you ask? Porque no? 
			While talking about some good tequila that Pat owned, they mentioned that they could just GO to Mexico to get some! To this suggestion, Derrick suggested DRIVING to Mexico!
		</p>
		<p>
			This was only a partially kidding idea. Then, Patrick brought up the fact that Emily Maginnis was also going to be in California for that summer! So, they could drive to Cali and then to Mexico. A plan was formed!
		</p>
		<p>
			Pat then suggested that we invite Mavet since she was available! Mavet was in!
		</p>
		<p>
			In less than 1 week, we had our idea on paper (i.e. a <a href="https://docs.google.com/document/d/1DQPd7nc5XlEIq-Xjb_gdxLUvWze6_lEo5eBAwK5j5Lc/preview" target="_blank">Google document</a>), and we started hashing out our schedule! And in a little over 1 month, we hit the road!
		</p>
		<p>
			Almost 2 years later, we finally got around to editing and sharing our video experiences from that trip! Hope you enjoy watching them as much as we enjoyed making them!
		</p>
		<p>
			ps: Pat coined the term "Motherfucking Road Trip" - hence, the name of this page!
		</p>
	</backstory>
</roadtrip>
